[Desktop Entry]
Type=Application
Name=KADI
Comment=A full-featured implementation of the KADI card game
Exec=KADI
Icon=kadi_icon
Categories=Game;CardGame;
Terminal=false
